## Configurando o MySQL com Python

Neste momento, vamos configurar a integração entre o MySQL e Python. Isso nos permitirá executar consultas, inserções e outras operações no banco de dados MySQL usando o Python como nossa linguagem de programação principal.

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="anselmo",
  password="123"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x7fc0b27f7190>

Criaremos um cursor, que é um objeto utilizado para executar instruções SQL no contexto do Python. Essse cursor nos permitirá enviar consultas e comandos SQL para o banco de dados MySQL por meio da conexão estabelecida e obter os resultados de volta para serem processados em nosso código Python

In [10]:
cursor = mydb.cursor()

## Criando uma base de dados

O método `execute()` é usado para compilar uma instrução SQL

In [11]:
cursor.execute("CREATE DATABASE IF NOT EXISTS db_produtos;")

In [12]:
cursor.execute('Show DATABASES')
for db in cursor:
    print(db)

('Pessoas',)
('db_produtos',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

## Criando uma tabela

Antes de criar nossa tabela, vamos revisar as colunas necessárias que precisaremos incluir nela. Essa etapa é importante para garantir que nossa tabela seja projetada corretamente, atendendo aos requisitos de armazenamento e organização dos dados.

In [13]:
import pandas as pd

df_livros = pd.read_csv('/home/anselmo/Documentos/pipeline-python-mongo-mysql/data/tabela_livros.csv')
df_livros.head()

,_id,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lagitude,longitude
0,667638103b413b06879a5b54,Iniciando em programação,livros,43.84,0.000000,2020-01-01,Mariana Ferreira,SP,5,cartao_credito,1,-22.19,-48.79
1,667638103b413b06879a5b80,Ciência de dados com python,livros,79.28,1.805861,2022-02-01,Lucas Oliveira,SP,5,cartao_credito,1,-22.19,-48.79
2,667638103b413b06879a5b7c,Dashboards com Power BI,livros,57.63,9.310560,2022-02-01,Bianca Santos,SP,3,cartao_credito,1,-22.19,-48.79
3,667638103b413b06879a5b53,Modelagem preditiva,livros,92.45,5.609697,2020-01-01,Thiago Silva,BA,1,cartao_credito,3,-13.29,-41.71
4,667638103b413b06879a5b79,Iniciando em programação,livros,61.73,0.000000,2021-02-01,Beatriz Moraes,SP,4,cartao_credito,1,-22.19,-48.79

In [14]:
df_livros.columns

Index(['_id', 'Produto', 'Categoria do Produto', 'Preço', 'Frete',
       'Data da Compra', 'Vendedor', 'Local da compra', 'Avaliação da compra',
       'Tipo de pagamento', 'Quantidade de parcelas', 'lagitude', 'longitude'],
      dtype='object')

In [16]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS db_produtos.tb_livros(
               id VARCHAR(100),
               Produto VARCHAR(100),
               Categoria_Produto VARCHAR(100),
               Preco FLOAT(10,2),
               Frete FLOAT(10,2),
               Data_Compra DATE,
               Vendedor VARCHAR(100),
               Local_Compra VARCHAR(100),
               Avaliacao_Compra INT,
               Tipo_Pagamento VARCHAR(100),
               Qntd_Parcelas INT,
               Latitude FLOAT(10,2),
               Longitude FLOAT(10,2),
               
               PRIMARY KEY (id)
               );
               
""")

**Selecionando a base de dados para verificar a tabela criada**

In [20]:
cursor.execute('USE db_produtos')
cursor.execute('SHOW TABLES')

for tables in cursor:
    print(tables)

('tb_livros',)

## Inserindo os dados do csv na tabela

Para inserir os dados na tabela do MySQL, é necessário percorrer cada linha do DataFrame e transformá-las em tuplas. Essa abordagem permite que mapeemos os dados do DataFrame para as colunas correspondentes da tabela do MySQL de forma eficiente e precisa.

## Visualizando os dados inseridos